.Vlog-card {
  position: relative;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #1e3950bd;
  backdrop-filter: blur(10px);
  padding: 15px;
  margin: 10px;
  width: 270px;
  height: 370px;
  overflow: hidden;
  position: relative;
  max-width: 1000px;
  min-width: 200px;
  transition: box-shadow 0.3s ease-in-out;
  gap: 0px;
}


.Vlog-Work-Img {
  width: auto;
  height: 180px;
  position: relative;
  overflow: hidden;
  background: fixed;
  padding-bottom: 0px;
}

.Vlog-Work-Img .Vlog-Projects-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Vlog-Projects-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
  z-index: -1000;
}

.Vlog-card:hover .Vlog-Projects-img {
  transform: scale(1.1);
}

.Vlog-Tools-img {
  position: absolute;
  bottom: -22px;
  right: -22px;
  margin: 25px;
  height: 45px;
  width: 45px;
  z-index: 1000;
  border-radius: 50%;
  padding: 10px;
}

.Vlog-card-content{
  display: flex;
  flex-direction: column;
  height: 90px;
  padding-top: 5px;
  gap: 0px;
}


.Vlog-Links{
  position: relative;
  top: 25px;
}

/* .Vlog-card-container::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgb(1, 106, 167);
  border-radius: 50%;
  z-index: 10000;
} */

.Vlog-card::before {
  top: -10px;
  left: -10px;
}

.Vlog-card::after {
  bottom: -10px;
  right: -10px;
}

.Vlog-card::before,
.Vlog-card::after {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

@media (max-width: 1005px) {
  .Vlog-card {
    width: 100%; 
    height: 430px;
    position: relative;
    left: 0px;
  }

  .Vlog-Tools-img {
    margin: 10px; 
    position: absolute;
    bottom: 0px;
    right: -8px;
    height: 60px;
    width: 60px;
  }

  .Vlog-Work-Img {
    height: 240px;
    width: auto;
    object-fit: contain;
  }

  .Vlog-card-content {
    padding-top: 10px;
  }

  span {
    font-size: 16px;
  }
}