.deck {
  position: absolute;
  width: 300px;
  height: 200px;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
}

.deck > div {
  background-color: white;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 40vh; /* Increase the width */
  max-width: 300px; /* Set a maximum width */
  height: 60vh; /* Increase the height */
  max-height: 450px; /* Set a maximum height */
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 60px -10px rgba(50, 50, 73, 0.4),
    0 10px 20px -10px rgba(50, 50, 73, 0.3);
}

