/* Fotter.css */
.Fotter-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 20px;
    font-family: 'El Messiri', sans-serif;
    background-color:  #0a3245e6;
    color: white;
    position: static;
}

.Fotter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 30px 10px 30px 0px;
    gap: 0px;
}

.Brand{
    font-size: 27px;
    font-weight: bold;
    padding-bottom: 5px;
}

.Contact-Me {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    max-width: 400px;
    text-align: start;
    gap: 5px;
}

.Fotter-Content a {
    text-decoration: none;
    color: white;
    position: relative;
}

.Fotter-Content a:hover{
   color: rgb(0, 255, 225);
}

.Fotter-Content a:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #0cf8dd;
}


.Fotter-Content{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 40px;
    padding-right: 70px
}

.FC {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    width: auto;
    height: auto;
    font-size: 13px;
}

.FC p{
    font-size: 15px;
    width: auto;
    gap: 4px;
}

.Fotter-Licence {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 110%;
    padding: 20px;
    margin-top: 20px;
    border-top: 1px solid #7c7474ac;
}


.input-group {
  display: flex;
  align-items: center;
}

.input {
  min-height: 50px;
  max-width: 150px;
  padding: 0 1rem;
  color: #fff;
  font-size: 15px;
  border: 1px solid #116277;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

.button--submit {
  min-height: 50px;
  padding: .5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #116277;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.button--submit:hover {
  background-color: rgb(14, 126, 155);
}

.input:focus, .input:focus-visible {
  border-color: #066a83;
  outline: none;
}

.Licence a{
    text-decoration: none;
    cursor: pointer;
}


/* Fotter.css */
@media (max-width: 1005px) {
    .Fotter-Container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 250px;
        padding-left: 40px;
        width: 105%; 
        align-items: center;
        overflow-x: hidden;
    }
    .Fotter-Content{
    gap: 20px;
}

    .Fotter {
        gap: 35px;
    }
 
    .Contact-Me{
        position: relative;
        right: 30px;
    }

    .Brand span {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 15px;
    }

    .FC{
        position: relative;
        left:  0px;
        gap: 2px;
    }

    .Licence {
        justify-self: center;
        align-items: center;
        text-align: center;
        position: relative;
        right: 0px;
    }
}
