.Card-Container{
  position: relative;
  left: 0px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #1e3950bd;
  backdrop-filter: blur(10px);
  padding: 12px;
  margin: 10px;
  width: 270px;
  height: auto;
  max-width: 1000px; /* Maximum width on desktop */
  max-height: 400px;
  min-width: 200px;
  transition: box-shadow 0.3s ease-in-out; /* Add transition for smoother effect */
}

.Card-Container:hover{
  box-shadow: 0 0 10px rgb(1, 114, 167); /* Adjust the values as needed */
}

.Card-Head{
    padding: 10px 0px 10px 0px;
}

.Card-Head span{
    font-size: 20px;
}


.Card-Bottom{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
}

.Card-Container::before{
  content: "";
  position: absolute;
  width: 30px; /* Adjust the size of the decorative element */
  height: 30px;
  background-color: rgb(1, 114, 167);; /* Adjust the color as needed */
  border-radius: 50%; /* Make it round */
}

.Card-Container::before {
  top: -10px;
  left: -10px;
}

.Card-Container::after {
  bottom: -10px;
  right: -10px;
}

.Card-Container::before,
.Card-Container::after {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
}


@media (max-width: 1000px){
    .Card-Container{
        width: 100%;
        max-width: 100%;
        left: 0px;
    }
}