.Card-Container{
  position: relative;
  left: 0px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--bg-color);
  color: white;
  backdrop-filter: blur(10px);
  padding: 12px;
  margin: 10px;
  width: 270px;
  min-height: 150px;
  max-height: 170px;
  max-height: 200px;
  max-width: 1000px;
  min-width: 200px;
  transition: box-shadow 0.3s ease-in-out;
}

.Card-Container:hover{
  box-shadow: 0 0 10px var(--text-color);
}

.Card-Head{
    padding: 10px 0px 10px 0px;
}

.Card-Head span{
    font-size: 20px;
}

.Card-Body{
  min-height: 50px;
}


.Card-Bottom{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 3px;
    padding: 10px 0px 10px 0px;
    position: relative;
    top: 0px;
    left: 0px;
}

.Card-Bottom .btn{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
}
.Card-Container::before {
  top: -10px;
  left: -10px;
}




.Card-Container::after {
  bottom: -10px;
  right: -10px;
  
}

.Card-Container::before,
.Card-Container::after {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

.heart-container {
  --heart-color: rgb(17, 83, 159);
  position: relative;
  top: -1px;
  left: -11px;
  width: 20px;
  height: 20px;
  transition: .3s;
}

.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.heart-container .svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container .svg-outline,
        .heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
  display: block
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
  display: block
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}


@media (max-width: 1000px){
    .Card-Container{
        width: auto;
        left: 0px;
        height: auto;
    }

    .heart-container {
  top: 0px;
  width: 20px;
  height: 20px;
}
.Card-Body{
  min-height: none;
}
}