
.Achivements-Box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'El Messiri', sans-serif;
  padding: 10px 0px 20px 0px;
  max-width: 1000px;
  position: relative;
  left: 180px;
}

.Page-Work-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'El Messiri', sans-serif;
  align-items: center;
  padding: 10px 0px 20px 0px;
}

.Page-Work{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.Page-Work-Head {
  position: relative;
  justify-content: center;
  align-self: center;
  text-align: center;
  padding: 10px 0 20px 20px;
}

.Page-Text{
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
}

.Page-Text span{
  color: var(--text-color);
}

.Page-Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  position: relative;
  left: 0px;
  max-width: 1200px;
}

.Second-Part {
  margin-top: 50px; /* Adjust as per your design */
}

.Second-Part .Page-Work-Head {
  /* Add styles for the certification section header */
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Second-Part .Page-Text-description {
  font-size: 16px;
}

.Second-Part .Page-Cards {
  /* Add styles for the certification section cards container */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  position: relative;
  left: 0px;
}

.Achivement-fotter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
  margin-bottom: 200px;
  position: relative;
  top: 10px;
  left: 10px;
}

.Achivement-fotter-line {
  display: flex;
  align-items: center;
  color: #999;
  font-size: 14px;
  margin-bottom: 10px; 
}

.Achivement-fotter-line .line-1,
.Achivement-fotter-line .line-2 {
  flex-grow: 1;
  height: 1px;
  background-color: #999;
}

.or {
  padding: 0 10px;
}

.Achivement-fotter-btn {
  margin-top: 10px;
}

/* Media Query for Mobile View */
@media (max-width: 1000px) {

  .cta{
    left: 20px;
  }
  .Page-Work-Container {
    padding: 10px; 
    position: relative;
    top: 20px;
    align-self: start;
    left: 0px;
  }

  .Page-Work-Head {
    margin-bottom: 0px;
    position: relative;
    right: 0px;
  }

  .Page-Cards {
    flex-direction: column;
    align-items: center;
    width: 105%;
    left: 0px;
  }

  .Page-Cards > .card {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }

   .Achivement-fotter-line {
    font-size: 12px;
  }
}

@media (max-width: 1000px) and (min-width: 800px){
  .Page-Work-Container{
    top: 100px;
    width: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 70px;
  }
}
