.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 100px;
  position: relative;
  top: 0px;
  gap: 20px;
  padding: 100px;
}
.skill-box{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
}
.languages,
.developments,
.coreSubjects,
.tools,
.softSkills,
.databases {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  width: auto;
}

.skill-box p {
  font-size: 1.3rem;
  position: relative;
  top: 10px;
}

h2 {
  color: var(--text-color);
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  min-width: 400px;
  max-width: 400px;
  border-radius: 15px;
  background-color: var(--bg-color);
  transition: .2s ease-in-out;
  box-shadow: 0 0 30px rgba(23, 66, 144, 0.5);
}

.skills-container:hover {
  transform: scale(1.06);
}

.skills-container .icon {
    height: 20px;
    width: auto;
  }



ul li {
  margin-bottom: 5px;
}

@media (max-width: 1005px) {

  .skills {
  display: flex;
  flex-direction: column;
  padding: 0px;
  top: 50px;
  }

  .skills-container .icon {
    height: 20px;
    width: auto;
  }
  .skill-box p {
  font-size: 1.3rem;
  position: relative;
  top: 5px;
}

.skills-container:hover {
  transform: scale(1);
}
}

/* Tooltip styling */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the icon */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.4s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.skills-container .icon {
  height: 80px;
  width: auto;
}

@media(max-width: 1005px) {
  .skills-container {
    padding: 40px;
    flex-direction: row;
    min-width: 350px;
    max-width: 350px;
  }
}
