.skills-section {
  padding: 30px;
  background-color: var(--primary-color);
}

.skills-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.skills-subTitle {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.skills-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-category {
  background-color: var(--bg-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(21, 65, 93, 0.169);
  padding: 20px;
  margin: 10px;
  width: 48%; /* Divides the container into two columns */
  min-height: 250px; /* Minimum height for consistent card sizes */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills-category h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Grid-based UL for consistent heights and automatic column distribution */
.skills-category ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive columns */
  grid-gap: 10px; /* Space between list items */
  padding: 0;
  list-style: none;
  height: 100%; /* Makes all <ul> have the same height */
  margin: 0;
}

.skills-category ul li {
  font-size: 1rem;
  padding: 5px 0;
  position: relative; /* For positioning the tick */
  padding-left: 25px; /* Space for the tick */
}

/* Adding blue tick */
.skills-category ul li::before {
  content: "✔"; /* Unicode character for check mark */
  color: rgb(255, 170, 0); /* Blue color for the tick */
  position: absolute; /* Positioning the tick */
  left: 0; /* Aligns the tick to the left */
  top: 0; /* Aligns the tick with the top of the list item */
  font-size: 1.2rem; /* Adjust size as necessary */
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
  .skills-category {
    width: 100%;
  }
}
