/* Home.css */
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap');

.Home-Container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
  font-family: 'El Messiri', sans-serif;
  gap: 90px;
  position: relative;
  left: 20px;
}

.Home-Head{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 
  font-family: 'El Messiri', sans-serif;
  margin: 80px 0px 0px 0px;
}

.about-me {
  max-width: 400px;
  width: 100%;
  height: auto;
  gap: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  left: 40px;
}

.highlight {
  color: rgb(18, 197, 202);
}

.Head-About {
  padding-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
}

.Profession {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.element-1{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.element-2{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.element-2 img{
  height: 25px;
  width: 25px;
}

.Astronomy{
  font-size: 20px;
  position: relative;
  top: 0px;
  Left: 5px;
}

.Profession p {
  padding: 4px;
  font-size: 17px;
  background-color: rgb(91 194 213 / 50%);
  border-radius: 2px;
}

.My-Thought {
  margin-top: 20px;
  font-size: 14px;
}

.Chat {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.My-Profile {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  right: 35px;
}

.My-Images img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wooo{
  font-size: 30px;
}

.button {
  font-size: 15px;
  position: relative;
  padding: 8px;
  border-radius: 30px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: rgb(47 110 145);
  transition: all 0.2s ease;
}

.button:active {
  transform: scale(0.96);
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, rgb(18, 197, 202) 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, rgb(18, 197, 202) 20%, transparent 30%),
    radial-gradient(circle, rgb(18, 197, 202) 20%, transparent 20%),
    radial-gradient(circle, rgb(18, 197, 202) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, rgb(18, 197, 202) 15%, transparent 20%),
    radial-gradient(circle, rgb(18, 197, 202) 20%, transparent 20%),
    radial-gradient(circle, rgb(18, 197, 202) 20%, transparent 20%),
    radial-gradient(circle, rgb(18, 197, 202) 20%, transparent 20%),
    radial-gradient(circle, rgb(18, 197, 202) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, rgb(18, 197, 202) 20%, transparent 20%),
    radial-gradient(circle, rgb(18, 197, 202) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, rgb(18, 197, 202) 15%, transparent 20%),
    radial-gradient(circle, rgb(18, 197, 202) 20%, transparent 20%),
    radial-gradient(circle, rgb(18, 197, 202) 20%, transparent 20%),
    radial-gradient(circle, rgb(18, 197, 202) 20%, transparent 20%),
    radial-gradient(circle, rgb(18, 197, 202) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

/* Media Query for Mobile View */
@media(max-width: 1005px) {
  .Home-Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0px;
    padding-top: 15px;
    position: relative;
    left: 0px;
    top: 0px; 
    gap: 0px;
  }

  .about-me {
    position: relative;
    top: 0px;
    left: 0px;
    max-width: 350px;
  }

  .highlight {
     font-size: 2.5rem;
  }


  .My-Profile {
    position: relative;
    top: 60px;
    left:  10px;
    padding-bottom: 70px;
  }

  .Home-Head{
    margin: 0px;
  }
  
}

@media (max-width: 1000px) and (min-width: 800px){
  .Home-Container {
    padding: 50px;
    padding-top: 25px;
  }

  .My-Profile{
    padding-top: 70px;
    padding-left: 180px;
  }

  .about-me{
    position: relative;
    top: 70px;
    left: 35px;
  }

}

/* Add this to your existing Home.css or create a new CSS file */
.Coding-Profiles {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.Coding-Profiles h2{
  font-size: 12px;
  padding: 8px 8px 8px 0px;
  color: inherit;
}

.Coding-Profile-Button {
  padding: 5px;
  background-color: #204053f2; /* Change the color as per your preference */
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 12px;
  margin: 5px 15px 5px -10px;
}

.git:hover {
 color:  rgb(135, 48, 143);
 box-shadow: 0 0 10px 0 rgb(192, 73, 251);
}

.hack:hover {
 color:  rgb(7, 147, 42);
 box-shadow: 0 0 10px 0 rgb(32, 255, 61);
}
.leet:hover {
 color:  rgb(247, 221, 23);
 box-shadow: 0 0 10px 0 rgb(255, 235, 53);
}
.gfg:hover {
 color:  rgb(0, 167, 0);
 box-shadow: 0 0 10px 0 rgb(14, 255, 62);
}

@media (max-width: 870px) and (min-width: 765px){
   .Home-Head{
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    top: 20px;
   }
}