@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap');

body.dark-mode {
    background-color: #0a1d2df7;
    color: white;
}

body.light-mode {
    background-color: rgba(255, 255, 255, 0.598);
    color: rgb(0, 0, 0);
}

document.body.bg-video{
    opacity: 0;
}

.dark-mode .Container {
    background-color: #0b2133f7;
    color: white;
}

.light-mode .Container {
    background-color: white;
    color: black;
}

.Container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'El Messiri', sans-serif;
    background-color: #0b2133f7;
    color: white;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(39, 41, 41, 0.75);
    width: 105%;
}

.Container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    position: relative;
    right: 30px;
}

.Name {
    margin-left: 0px;
    font-size: 30px;
    font-weight: bolder;
}

.Navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 18px;
    font-size: 18px;
    font-weight: bold;
}

.N {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.1s ease-in-out;
}

.N:active {
    opacity: 1;
}

.N::after{
  opacity: 1;
}

.N p {
  position: relative;
  top: 6px;
  left: 2px;
}

.N:hover {
    opacity: 1;
}

.N:hover span {
    opacity: 1;
}

.N:hover p {
    opacity: 1;
    color: rgb(18, 197, 202);
}

.Theme {
    align-items: start;
    margin-left: 0px;
}

.Theme img {
    height: 17px;
    width: 17px;
    margin-top: 8px;
}

body.menu-open .Container {
  display: flex;
}

body.menu-open .Navigation {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

body.menu-open .Theme {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.ToggleMenu {
  cursor: pointer;
  display: none;
}

.Navigation a {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

.Navigation a:hover {
  color: inherit;
}

@media (max-width: 1005px) {
  .ToggleMenu {
    display: flex;
    position:relative;
    left: 0px;
    height: 30px;
    width: 30px;
  }

  .Container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 107%;
    align-items: start;
    padding: 10px;
    overflow-x: hidden;
    position: relative;
    right:  0px;
  }

  .Name span {
    margin-left: 0px;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 0px;
  }


.Name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 0px 8px;
    width: 100%;
}

.Name div {
    margin-right: 10px; 
}

.Navigation {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: -10px;
    font-size: 10px;
    position: relative;
    left: 10px;
}

.N p {
   position: relative;
   top: 5px;
}

.Theme img {
    height: 20px;
    width: 20px;
    margin-top: 0px;
    position: relative;
    top: -15px;
}

}
