.Page-card {
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(14, 39, 135, 0.1);
  /* background-color: #5f44bd9e; */
  background-color: #1e3950bd;
  backdrop-filter: blur(10px);
  /* padding: 12px; */
  padding-bottom: 20px;
  margin: 10px;
  width: 315px;
  /* height: auto; */
  min-height: 300px;
  max-height: 320px;
  overflow: hidden;
  position: relative;
  max-width: 1000px;
  min-width: 200px;
  transition: box-shadow 0.3s ease-in-out;
  gap: 0px;
}

.Page-Work-Img {
  width: auto;
  height: 180px;
  position: relative;
  overflow: hidden;
  background: fixed;
  padding-bottom: 0px;
}

.Page-Work-Img .Page-Projects-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Page-Projects-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
  z-index: -1000;
}

.Page-card:hover .Page-Projects-img{
  transform: scale(1.1);
}

.Page-card:hover{
  /* box-shadow: 0px 2px 4px rgba(69, 195, 212, 0.842); */
  cursor: pointer;
}

.Page-Tools-img {
  position: absolute;
  top: 136px;
  right: 1px;
  margin: 25px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  padding: 7px;
  max-width: 100%;
  background-color:#1e3950;
}

.toolsImg{
  margin: 2px;
  padding: 2px 8px 2px 8px;
  font-size: 10px;
}
.Page-card-content{
  /* min-height:  30px; */
  height: auto;
  padding-top: 10px;
  gap: 5px;
  padding: 12px;
}
.Page-card-content .Page-Project-Name{
  padding-top: 10px;

}

.Page-Links{
  position: relative;
  top: -20px;
  padding: 12px;
}

/* Media Query for Mobile View */
@media (max-width: 1005px) {
  .Page-card {
    width: 100%; 
    max-height: 400px;
    position: relative;
    left: 0px;
  }

  .Page-Tools-img {
    margin: 10px;
    position: absolute;
    top: 210px;
    right: 15px;
    height: 35px;
    width: 35px;

  }

  .Page-Work-Img {
    height: 240px;
    width: auto;
    object-fit: contain;
  }

  .Page-card-content {
    padding-top: 10px;
  }

  .Page-Links{
   top: -25px;
}

  span {
    font-size: 16px;
  }
}