
.Achive-card {
  position: relative;
  border-radius: 5px;
  background-color: var(--card-color);
  padding-bottom: 0px;
  margin: 10px;
  width: auto;
  max-width: 300px;
  height: auto;
  overflow: hidden;
  position: relative;
  min-width: 200px;
  gap: 5px;
  color: white;
}

.Achive-Work-Img {
  width: auto;
  height: 150px;
  position: relative;
  overflow: hidden;
  background: fixed;
  padding-bottom: 0px;
}

.Achive-Work-Img .Page-Projects-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Achive-Projects-img {
  height: 100%;
  width: 105%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  z-index: -1000;
}

.Achive-card:hover .Achive-Projects-img {
  transform: scale(1.1);
}

.Achive-Tools-img {
  position: absolute;
  bottom: -22px;
  right: -22px;
  margin: 25px;
  height: 30px;
  width: 30px;
  z-index: 1000;
  border-radius: 50%;
  padding: 10px;
}

.Achive-card-content {
  padding-top: 20px;
  padding-left: 12px;
}

.Achive-card-content .Achive-Project-Name {
  padding-top: 20px;
}

.Achive-Project-Name{
  min-height: 100px;
}

.Achive-Fotter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  width: 100%;
  position: relative;
  bottom: 0px;
  padding: 8px;
}



.Achive-techs {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  max-width: 400px;
  max-height: 100px;
  position: relative;
  top: 0px;
  left: 0px;
  padding-top: 0px;
}

.Achive-techs span{
  margin: 2px;
  padding: 5px 8px 2px 8px;
  background-color: var(--bg-color);
  border-radius: 15px;
  font-size: 8px;
}

.Achive-techs span:hover{
  background-color: var(--bg-color);
  cursor: pointer;
}

.Achive-Links{
  position: relative;
  top: 0px;
}

.Link{
 margin:6px;
 margin-bottom: 10px;
 margin-left: 12px;
}

.Link a{
  padding: 2px 10px;
  margin: 0px;
  border-radius: 5px;
  background-color: var(--bg-color);
  transition: background-color 0.3s ease;
  
}
.Link a:hover{
  background-color: var(--bg-hover-color);
}

/* Media Query for Mobile View */
@media (max-width: 1005px) {
  .Achive-card {
    width: auto;
    height: auto;
    position: relative;
    padding-bottom: 0px;
    left: 0px;
    gap: 0px;
    min-width: 340px;
  }

  .Achive-Tools-img {
    margin: 10px;
    position: absolute;
    bottom: 0px;
    height: 35px;
    width: 35px;
  }

  .Achive-Work-Img {
    height: 200px;
    width: auto;
    max-height: 350px;
    width: auto;
    object-fit: contain;
  }

  .Achive-card-content {
    padding-top: 20px;
  }

  span {
    font-size: 16px;
  }
}
