.Certificate-card {
  position: relative;
  border-radius: 5px;
  background-color: var(--card-color);
  padding: 0 10px;
  margin: 4px;
  width: auto;
  min-width: 200px;
  gap: 3px;
  color: white;
  font-size: 10px;
  overflow: hidden;
}

.Certificate-card-content {
  padding-top: 20px;
}

.Certificate-card-content .Certificate-Project-Name {
  padding-top: 0px;
  font-weight: bold;
}

.Certificate-Project-Name {
  /* min-height: 100px; */
}

.Certificate-Fotter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px;
}

.Certificate-techs {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  max-width: 400px;
  max-height: 100px;
  padding-top: 0;
}

.Certificate-techs span {
  margin: 2px;
  padding: 5px 8px 2px 8px;
  background-color: var(--bg-color);
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.Certificate-techs span:hover {
  background-color: var(--bg-hover-color);
  cursor: pointer;
}

.Certificate-Link {
  margin-bottom: 10px;
  font-size: 10px;
}

.Certificate-Link a {
  padding: 2px 10px;
  margin: 0;
  border-radius: 5px;
  background-color: var(--bg-color);
  transition: background-color 0.3s ease;
}

.Certificate-Link a:hover {
  background-color: var(--bg-hover-color);
}

.about-org{
  display: flex;
  flex-Direction:row;
  justify-Content: space-between;
  margin-bottom:10px;
  gap: 20px;
}

.org {
  font-weight: bold;
  color: green;
  font-size: 13px;
  border-radius: 5px;
}

/* Media Query for Mobile View */
@media (max-width: 1005px) {
  .Certificate-card {
    width: 100%;
    max-height: 400px;
  }

  .Certificate-card-content {
    padding-top: 20px;
  }

  span {
    font-size: 16px;
  }
}
